{% extends 'base_layout.html.twig' %}

{% block title %}{{ thread.name|e }}{% endblock %}

{% block body %}
    <div class="container bg-light">
        <div class="row">
            {{ thread.name|e }}
            {{ thread.creationTime|date('Y/m/d H:m:s') }}
            author: {{ (thread.author is not empty) ? '##MOD##' : 'anonymous' }}
        </div>
        <p>
{#            <img src="{{ thread.pictureName|e }}">#}
            {{ thread.text|e }}
        </p>
    </div>

    {% for message in messages %}
        <div id="{{ message.id }}" class="container bg-light mt-1">
            <div class="row">
                <strong>#{{ message.id }}</strong>
                &nbsp
                {{ message.time|date('Y/m/d H:m:s') }}
                author: {{ (message.author_id is not empty) ?  '##MOD##' : 'anonymous' }}
                &nbsp
                &nbsp
                <a href="#{{ message.id }}" class="answerLink" >answer</a>
                {% if is_granted('ROLE_ADMIN') %}
                    &nbsp&nbsp
                    <form action="{{ path('delete_message', {'id' : message.id}) }}" method="post">
                        <input type="submit" name="delete" value="delete" class="btn btn-danger btn-sm"/>
                    </form>
                {% endif %}
            </div>
            {% for link in message.parent_massages|split(' ') %}
                {% set xssSecureLink = link|e %}
                {% if xssSecureLink is not empty %}
                <a class="board-message" href="#{{ xssSecureLink }}">>>>>>{{ link|e }}</a>
                {% endif %}
            {% endfor %}
            <p>
                {{ message.text|striptags('<b>,<s>')| raw }}
            </p>
            {% for link in message.child_massages|split(' ') %}
                {% set xssSecureLink = link|e %}
                {% if xssSecureLink is not empty %}
                <a class="board-message" href="#{{ xssSecureLink }}">>>>>>{{ xssSecureLink }}</a>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
    <hr>
    <h6>Add new message</h6>
    <div id="form-buttons" class="row">
        &nbsp;&nbsp;&nbsp;
        <button type="button" id="strike_button" class="btn btn-warning btn-sm">&lt;s&gt;</button>
        &nbsp;
        <button type="button" id="bold_button" class="btn btn-warning btn-sm">&lt;b&gt;</button>
    </div>
    {{ form(message_form) }}
{% endblock %}
